* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
}
html,
body {
  height: 100%;
  width: 100%;

}
body{
  overflow-x: hidden;
}
@font-face {
  font-family: a;
  src: url(PPWoodland-Regular.ttf);
}
@font-face {
  font-family: b;
  src: url(dm-sans-v11-latin_latin-ext-500.ttf);
}
@font-face {
  font-family: c;
  src: url(dm-sans-v11-latin_latin-ext-regular.ttf);
}
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0 40px;
}
.nav-part1 {
  width: 40px;
  cursor: pointer;
}
.nav-part1 .line {
  height: 2px;
  width: 100%;
  background-color: #434b34;
  margin-bottom: 4px;
}
.nav-part2 button {
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid #434b34;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
}
.nav-part2 button::after {
  content: "";
  position: absolute;
  background-color: #475828;
  transition: all 0.3 ease;
  pointer-events: none;
}
.nav-part2 button::before {
  bottom: 0;
  top: 50%;
  width: 100%;
  height: 100%;
}
.nav-part2 button:nth-last-child(1) {
  background-color: #475828;
  color: #fff;
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 100px;
}
#page1 img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  /* scale: 0.28;
    object-fit: cover;
    object-position: center; */
}
nav svg {
  scale: 0.27;

  position: absolute;
  top: -80%;
  z-index: 9;
  fill: #434b34;
}
#page2{
  min-height: 150vh;
  background-color: #5B6647;
  position: relative;
}
#page2 #svg1{
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page2 #svg2{
    position: absolute;
    bottom: -10%;
    width: 300vw;
    fill: #5B6647;
    z-index: 9;
}
#page2 #svg3{
    position: absolute;
    bottom: -10%;
    left: -50vw;
    width: 300vw;
    fill: #e3e39d;
}


#page2 #text-container{
  position: relative;
  padding-top: 12vw;
  z-index: 99;
}
#text-container h1{
  text-align: center;
  font-size: 5.5vw;
  line-height: 6vw;
  /* color: #E3E3C4; */
  color: #434B34;
  font-family: PP woodland;
  font-weight: 100;
}

#text-container h1 span{
  font-family: PP woodland;
}

#page3 {
  width: 100%;
  /* background-color:#f7f7ee; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: a;

  min-height: 140vh;
  width: 100%;
  position: relative;
}
#page3-part1 > h1 {
  text-align: center;
  font-family: a;
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 1.2;
  width: 100%;
  /* height: 30vh; */
  padding: 10vw 24vw;
  color: #e3e3c4;
}
#page3-part2 {
  width: 100%;
  height: 100vh;
  display: flex;
}
#page3-part2-1 {
  width: 50%;
  height: 100vh;
  /* background-color: rgb(138, 96, 96); */
}
#page3-part2-1 p {
  font-family: a;
  font-size: 1.04rem;
  font-weight: 100;
  width: 25vw;
  line-height: 1.2;
  height: 9vh;
  color: #000;
  margin: 50px 130px;
}

#page3-part2-1 a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #5b6647;
  gap: 20px;
  margin: 10px 130px;
}
#page3-part2-1 a span {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: a;
}
#page3-part3 {
  width: 50%;
  height: 100vh;
  /* background-color: rgb(34, 13, 13); */
}
#page3-part2-1 .icon {
  height: 1.5em;
  width: 1.9em;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 2em;
  overflow: hidden;
  background-color: #5b6647;
  transition: all 0.3s
    cubic-bezier(0.55, 0.085, cubic-bezier(0.55, 0.085, 0.68, 0.53));
}
#page3-part2-1 .icon svg {
  fill: #fff;
  height: 1em;
  width: 0.7em;
  display: inline-block;
  transition: all 0.3s
    cubic-bezier(0.55, 0.085, cubic-bezier(0.55, 0.085, 0.68, 0.53));
}
#page3-part2-1 .icon:hover {
  background-color: #434b34;
}   
#page3-part2-1 .icon:hover svg {
  fill: #fff;
}
#page3-part2-1 .icon:hover span {
  color: #fff;
}
#page3-part2-1  #page3-img{
    width: 80%;
    height: 50%;
   margin: 80px 130px;
  
}
#page3-part2-1  #page3-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
#page3-part3 #page3-img1{
    width: 80%;
    height: 50%;
   margin: 30px 10px;
  
}
#page3-part3 #page3-img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
#page3-part3 #page3-img2{
    width: 35%;
    height: 35%;
   margin: 30px 10px;
  
}
#page3-part3 #page3-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}







#page4 {
  min-height: 100vh;
  padding: 13vw 5vw;
  background-color: #F7F7EE;
}

#page4 .elem {
  height: 200px;
  width: 100%;
  border: 1px solid #5B6647;
  /* background-color: red; */
  border-top: none;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
}

#page4 .elem:nth-child(1) {
  border-top: 1px solid #5B6647;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#page4 .elem:nth-last-child(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.elem-part1 {
  height: 100%;
  width: 22%;

  position: absolute;
  transition: all ease-out 0.4s;
  left: 0;
  transform: translateX(-100%);
}

.elem-part1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem-part2 {
  height: 100%;
  width: 100%;
  transition: all ease-out 0.4s;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #434B34;
  padding: 2.6vw 4vw;
}
.elex-1 h3{
  margin-bottom: 1vw;
  font-family: pp woodland;
  font-size: 2.4vw;
  font-weight: 100;
}
.elex-1 p{
  font-size: 1vw;
}
.elex-2 h5{
  background-color: #5B6647;
  color: #E3E3C4;
  padding: 4px 18px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9vw;
  transition: all ease-out 0.4s;
  position: relative;
  overflow: hidden;
}
.elex-2 h5 i{
  position: absolute;
  background-color: #E3E3C4;
  color: #5B6647;
  padding:5px 18px;
  left: 0;
  opacity: 0;
  top: 0;
}
.elem:hover .elem-part2 {
  width: 78%;
  background-color: #5B6647;
  color: #E3E3C4;
}

.elem:hover .elem-part1 {
  transform: translateX(0);
}

.elem:hover .elex-2 h5{
  background-color: #E3E3C4;
  color: #5B6647;
}

.elem:hover .elex-2 h5 i{
  opacity: 1;
}




